# HTML Junk
*.html
*.doctree
*.js
*.css
*.json
*.htm
*.pickle
*.idea*

# Other
*.pyc
*.pyd
*.whl
*.dll
*.log
*.rar
*.out
*.log
*.tar.gz
*.zip
*.pdf
*.h5
*.gz

# C extensions
*.so
# Packages
*.egg
*.egg-info
dist
build
eggs
bin
var
develop-eggs
.installed.cfg
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
